@font-face {
    font-family: "Uber Move";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/UberMove-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Uber Move";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/UberMove-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Uber Move";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/UberMove-Regular.woff2") format("woff2");
}
