// * Colors
$colors__primary: #000000;
$colors__secondary: #ffffff;

// * Primary Colors
$primary--paragraph: #353535;
$primary--links: #4b4b4b;
$primary--overlay: rgb(99, 99, 99, 17%);
$primary--button--overlay: #b0b0b0;
$primary--image--color: rgb(11, 11, 11, 83%);

// * Secondary Colors
$secondary--background: #fbfbfb;
$secondary--outline: #ececec;

// * Header Colors
$header__secondary: #cdcdcd;
